input{
  background-color: yellow;
}
textarea{
  margin: 10px;
  text-align: center;
}
p{
  background-color:white;
  color:black;
}

em{
  background-color:black;
  color:blue;
}

#myID{
  background-color: #eee;
  color: black;
}
#myID2{
  background-color: white;
  color: yellow;
}
.myClass{
  background-color: yellow;
  color: red;
  margin: 20px;
}
.secClass{
  background-color: #525252;
  color: #b59696;
  margin: 50px;
}
html{
  /* background-color: black; */
}
ul{
  margin: 5;
  padding: 3;
}
ol{

  margin: 30;
  padding: 30;
}
table{
  border: 1px solid black;
  max-width: 600px;
}
th,td{
  border: 3px solid yellow;
  max-width: 10%;
}
